.clearfix {
  /*
   * @base
   */
  clear: both;
  padding: 10px;
}


.button {
  /*
   * @base
   */
  background: red;
}

.wrapper:after {
  /*
   * @include .clearfix
   */
}

.wrapper .super-link {
  /*
   * @include .button
   */
}
